@use "./variables" as *;
@use "sass:color";

@mixin input-field {
  background: transparent;
  border: none;
  border-bottom: 1px solid $accent-color;
  padding: 10px;
  color: $white-color;

  &::placeholder {
    color: $accent-color;
    font-size: 25px;
    text-align: center;
  }

  &:focus {
    border: 1px solid color.adjust($accent-color, $lightness: -10%);
    &::placeholder {
      color: transparent;
    }
  }
}

@mixin header1 {
  font-size: $font-size-xl;
  font-weight: $font-weight-bold;
  text-align: center;
}

@mixin message-box($color) {
  color: $color;
  font-size: 0.9rem;
  text-align: center;
  padding: 0.5rem 1rem;
  background: rgba($color, 0.1);
  border-radius: 4px;
  border: 1px solid rgba($color, 0.3);
}

