$primary-color: #9333ea;
$background-color: #0f172a;
$secondary-background-color: #181E2C;
$accent-color: #c084fc;

$white-color: #ffffff;
$black-color: #0f172a;
$light-grey: #94a3b8;

$font-base: 'Roboto', sans-serif;     

$font-size-base: 18px;        
$font-size-sm: 16px;     
$font-size-lg: 20px;   
$font-size-semi-xl: 56px;  
$font-size-xl: 72px;

$line-height-base: 1.6;
$font-weight-normal: 400;
$font-weight-semibold: 500;
$font-weight-bold: 800;
